.wrap-page-admin-panel{
    .redirects{
        .top-holder{
            .btn.button-primary{
                min-width: 161px;
            }
            .holder-btn,
            .holder-select-btn{
                margin-bottom: 15px;
                @include media(">=1200px") {
                    margin-bottom: 0;
                }
            }
            .col{
                width: 100%;
                margin-bottom: 15px;
                flex-wrap: wrap;
                @include media(">=1200px") {
                    width: 50%;
                    margin-bottom: 0;
                }
            }
        }
        .list-redirects{
            .row.top-title{
                display: none;
                @include media(">=tablet") {
                    display: block;
                }
                .col{
                    min-height: auto;
                }
            }
            .row {
                display: flex;
                flex-wrap: wrap;
                background: #f7f7f7;
                @include media(">=widescreen") {
                    padding-left: 4px;
                }
                &:nth-child(odd) {
                    background: #fff;
                }
                &:first-child {
                    border-bottom: 1px solid #c3c4c8;
                    @include media(">=tablet") {
                        display: flex;
                    }
                    .col {
                        color: var(--bg-color-btn-primary);
                        padding: 16px 10px 14px;
                        &:last-child {
                            display: none;
                            @include media(">=desktop") {
                                display: flex;
                            }
                        }
                    }
                }
                .col {
                    width: 100%;
                    padding: 13px 10px 13px;
                    width: 100%;
                    @include media(">=tablet") {
                        width: 25.5%;
                        min-height: 80px;
                    }
                    &:first-child {
                        @include media(">=tablet") {
                            width: 10%;
                        }
                    }
                    &:nth-child(2) {
                        @include media(">=tablet") {
                            width: 9.5%;
                        }
                    }
                    &:nth-child(3) {
                        @include media(">=tablet") {
                            width: 36%;
                        }
                    }
                    &:nth-child(4) {
                        @include media(">=tablet") {
                            width: 19%;
                        }
                    }
                    &:last-child {
                        @include media(">=tablet") {
                            align-items: center;
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }
                    .over-txt{
                        font-weight: 400;
                    }
                    a{
                        color: #008AFF;
                        text-decoration: none;
                        word-wrap: break-word;
                        @include media(">=desktop") {

                        }
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                    .btn.button-primary{
                        min-width: 125px;
                    }
                }
            }
        }
    }
}