.list-form-item{
    margin-bottom: 38px;
    .row{
        display: flex;
        align-items: center;
        margin: 0 -10px;
        flex-wrap: wrap;
        .col-left{
            padding: 0 10px;
            margin-bottom: 20px;
            @include media(">=desktop") {
                margin-bottom: 0;
            }
        }
        .col-right{
            padding: 0 10px;
        }
    }
}
.form-control{
    font-size: 16px;
    color: #464646;
    font-weight: 700;
    &.error{
        color: #FF0000 !important;
        font-style: italic;
        input{
            border-color: #FF0000 !important;
            &:checked{
                background-color: #FF0000 !important;
            }
        }
    }
    &.disabled{
        color: #E5E5E5;
        cursor: default;
    }
}
.wrap-page-admin-panel,
.swal2-html-container{
    select{
        background-size: 19px 19px;
    }
    input,
    textarea{
        outline: none;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    input[type=radio] {
        -webkit-appearance: none;
        width: 22px;
        height: 22px;
        border: 1px solid #8c8f93;
        border-radius: 50%;
        position: relative;
        padding: 0;
        outline: none;
        &:checked{
            border-color: #036;
            box-shadow: 0;
            &:before {
                margin: 0;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                content: "";
                background: #036;
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translate(-50%, -50%);
            }
        }
    }
    input[type=checkbox] {
        width: 22px;
        height: 22px;
        border: 1px solid #8c8f93;
        background: #fff;
        border-radius: 4px;
        position: relative;
        margin: -4px 10px 0 0;
        vertical-align: middle;
        display: inline-block; 
        &:checked{
            background: #036;
            border-color: #036;
            &:before {
                content:"";
                position: absolute;
                height: 7px;
                width: 14px;
                top: 50%;
                left: 50%;
                margin: -6px 0 0 -7px;
                border: 2px solid #fff;
                border-width: 0 0 2px 2px;
                transform: rotate(-45deg);
            }
        }
        &:disabled{
            border-color: #E5E5E5;
            &:checked{
                background: #E5E5E5;
                border-color: #E5E5E5;
            }
        }
    }
    input[type="text"],
    input[type="number"],
    textarea,
    input[type="search"]{
        border: 1px solid #979797;
        color: #464646;
        &::placeholder{
            color: #979797;
        }
        &:focus{
            border-color: #464646;
            color: #464646;
            &::placeholder{
                color: #464646;
            }
        }
    }
    input[type="text"]:disabled,
    input[type="number"]:disabled,
    textarea:disabled,
    input[type="search"]:disabled{
        border-color: #E5E5E5;
        &::placeholder{
            color: #E5E5E5;
        }
    }
    input[type="search"]:disabled{
        &::placeholder{
            color: #979797;
        }
    }
    .text-error{
        display: none;
        font-size: 14px;
        font-style: italic;
        color: #FF0000;
        margin-top: 10px;
        &::before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url('../images/input-error.svg');
            background-position: center;
            background-size: contain;
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
    }
    .holder-input.error{
        background: transparent;
        border: 0;
        border-left-width: 0;
        box-shadow:0;
        margin: 0;
        padding: 0;
        box-shadow: none;
        .text-error{
            display: block;
        }
        input[type="text"],
        input[type="number"]{
            border-color: #FF0000;
            &::placeholder{
                color: #FF0000;
            }
        }
    }
    textarea{
        padding: 5px 14px;
        border: 1px solid #979797;
        color: #464646;
        font-size: 14px;
        line-height: 25px;
        width: 100%;
        max-width: 650px;
        border-radius: 2px;
        max-height: 100px;
        margin-bottom: 5px;
        &::placeholder{
            color: #979797;
        }
        &:focus{
            border-color: #464646;
        }
    }

    output {
        background: transparent;
        padding: 5px 16px;
        border-radius: 2px;
        border: 1px solid #979797;
        color: #464646;
        margin-bottom: 20px;
    }


    input[type="range"] {
        -webkit-appearance: none;
        margin-right: 25px;
        height: 5px;
        border-radius: 5px;
        background-color: #E1E1E1;
        max-width: 300px;
        width: 100%;
        margin-bottom: 20px;  
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 8px;
        background: #464646;
        cursor: ew-resize;
        clip-path: polygon(48% 100%, 100% 59%, 100% 0, 0 0, 0 58%);
        transition: background .3s ease-in-out;
    }

    input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 8px;
        background: #464646;
        cursor: ew-resize;
        clip-path: polygon(48% 100%, 100% 59%, 100% 0, 0 0, 0 58%);
        transition: background .3s ease-in-out;
    }

    input[type="range"]::-ms-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 8px;
        background: #464646;
        cursor: ew-resize;
        clip-path: polygon(48% 100%, 100% 59%, 100% 0, 0 0, 0 58%);
        transition: background .3s ease-in-out;
    }

    input[type="range"]::-webkit-slider-thumb:hover {
        background: #036;
    }

    input[type="range"]::-moz-range-thumb:hover {
        background: #036;
    }

    input[type="range"]::-ms-thumb:hover {
        background: #036;
    }

    input[type=range]::-webkit-slider-runnable-track  {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }

    input[type=range]::-moz-range-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }

    input[type="range"]::-ms-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }
    .range-slider{
        display: block;
        font-size: 16px;
        margin-bottom: 16px;
    }
    .advanced-option{
        .form-control{
            font-weight: 400;
        }
    }
    .content-open-close{
        padding-left:30px;
        margin-bottom: 30px;
    }

    .custom-select-block {
        max-width: 620px;
        width: 100%;
        margin-bottom: 50px;
    }
    .custom-select-block .choices {
        display: flex;
    }
    .custom-select-block .choices .choices__inner {
        width: calc(36% - 20px);
        margin-right: 20px;
        padding: 0;
        max-height: 35px;
        min-height: auto;
        position: relative;
        border: 1px solid #979797;
    }
    .custom-select-block .choices .choices__inner input[type='search'] {
        width: 100% !important;
        height: 100% !important;
        padding: 10px 45px 10px 15px;
        box-sizing: border-box;
        border: none;
        border-radius: 2px;
        max-height: 35px;
    }
    .custom-select-block .choices .choices__inner .toggle-arrow {
        position: absolute;
        top: 6px;
        right: 13px;
        font-size: 0;
        width: 20px;
        height: 20px;
        background: transparent;
        padding: 0;
    }
    .custom-select-block .choices.is-open .choices__inner .toggle-arrow:before,
    .holder-single-select .choices.is-open:after,
    .holder-multiple-select .choices.is-open:before {
        margin: 0;
        transform: rotate(-180deg);
    }
    .custom-select-block .choices .choices__inner .toggle-arrow:before,
    .holder-single-select .choices[data-type*=select-one]::after,
    .holder-multiple-select .choices:before {
        border: none;
        @extend %transition;
        content: '';
        display: block;
        width: 15px;
        height: 100%;
        background-image: url("../images/arrow-top.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .holder-multiple-select .choices:before{
        position: absolute;
        right: 8px;
    }
    .holder-single-select .choices[data-type*=select-one]::after{
        height: 8px;
        margin-top: 0;
        top: 14px;
    }
    .choices__list--dropdown{
        border: 1px solid #E5E5E5;
        border-top-color: #979797;
    }
    .custom-select-block .choices .choices__list--dropdown{
        width: calc(36% - 20px);
        top: 34px;
    }
    .choices .choices__list--dropdown{
        ::-webkit-scrollbar {
            width: 6px;
        }
        ::-webkit-scrollbar-track {
            background: #FFFFFF;
            border-left: 1px solid #E5E5E5;
        }
        ::-webkit-scrollbar-thumb {
            background: #E5E5E5;
            border-radius: 5px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    .custom-select-block .choices .selected-options-container {
        border: 1px solid #E5E5E5;
        width: 63%;
        min-height: 200px;
        padding: 0.5em;
        border-radius: 2px;
    }
    .choices__list--multiple .choices__item{
        font-size: 14px;
    }
    .choices__list--multiple .choices__item{
        background-color: #E5E5E5;
        border: none;
        border-radius: 0;
        color: #464646;
        display: inline-flex;
        align-items: center;
        padding: 3px 10px;
    }
    .choices[data-type*=select-multiple] .choices__button{
        border: none;
        background-image: url('../images/close.svg');
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0;
        margin: 0;
        order: -1;
        margin-right: 10px;
        font-size: 14px;
    }
    .choices__list--dropdown .choices__list,
    .choices__list[aria-expanded] .choices__list{
        max-height: 165px;
    }
    .choices__list--dropdown .choices__item--selectable{
        padding-right: 10px;
    }
    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted{
        background-color: #EEF7FF;
    }

    .holder-single-select,
    .holder-multiple-select{
        label{
            font-weight: 700;
        }
    }
    .holder-single-select{
        .choices__inner{
            border:1px solid #979797;
            padding: 5px 35px 5px 15px;
            font-size: 14px;
            color: #464646;
            min-height: 35px;
            background-color: #fff;
        }
        .choices__list--single{
            padding: 0;
        }
        &.error{
            background: transparent;
            border: 0;
            border-left-width: 0;
            box-shadow: 0;
            margin: 0;
            padding: 0;
            box-shadow: none;
            .choices__inner{
                border-color: #FF0000;
                color: #FF0000;
            }
            .choices.is-focused .choices__inner{
                border-color: #FF0000 !important;
            }
            .choices:after{
                background-image: url(../images/error-arrow.svg);
            }
        }
    }

    .choices.is-focused{
        .choices__inner{
            border-color:#464646;
        }
    }
    .holder-multiple-select{
        .choices{
            display: block;
            max-width: 650px;
            width: 100%;
            min-width: 400px;
        }
        .choices__inner{
            background-color: transparent;
            border: 1px solid #979797;
            padding: 5px 35px 2px 4px;
            font-size: 14px;
            color: #464646;
            min-height: 35px;
            background-color: #fff;
            line-height: 16px;
            .choices__input{
                background-color: transparent;
                padding: 0 0 0 10px;
                margin: 0;
                border: 0;
                outline: none;
                height: auto;
                line-height: 1.2;
                line-height: 21px;
                &:focus{
                    border: 0;
                    box-shadow: none;
                }
            }
        }
    }
    .holder-search-with-icon{
        position: relative;
        margin-bottom: 15px;
        input[type="search"]{
            box-sizing: border-box;
            font-size: 14px;
            line-height: 19px;
            padding: 7px 35px 7px 15px;
            width: 100%;
            max-width: 207px;
            color: #464646;
            border:1px solid #979797;
            &:focus{
                border-color: #464646;
            }
        }
        .btn-icon{
            @extend %transition;
            position: absolute;
            right: 10px;
            top: 11px;
            border: none;
            padding: 0;
            background-image: url(../images/icon-search.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 14px;
            height: 14px;
            font-size: 0;
            background-color: transparent;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}