.wrap-page-admin-panel-speed{
    .list-settings{
        @extend %listreset;
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 30px;
        &.no-border{
            border: none;
        }
    }
    .content-open-close{
        font-size: 14px;
        padding-left: 35px;
        margin-bottom: 20px;
        .list-two-col .row label{
            font-size: 14px;
        }
        .holder-textarea-block,
        .holder-block{
            max-width: 649px;
            h4{
                margin-bottom: 0;
            }
        }
        .holder-single-select{
            .list-two-col{
                margin-bottom: 0;
            }
            .col-left,
            .col-right{
                margin-bottom: 20px;
            }
            .col-right{
                display: flex;
                align-items: center;
                .holder-single-select{
                    margin-right: 15px;
                }
                .text-right{
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: 700;
                    margin-right: 5px;
                }
            }
        }
        input[type=checkbox],
        input[type=checkbox]{
            width: 18px;
            height: 18px;
        }
        .row-multiselect-two-col{
            display: flex;
            align-items: center;
            margin: 0 -10px 30px;
            flex-wrap: wrap;
            @include media(">=900px") {
                flex-wrap: nowrap;
                margin: 0 -10px 0px;
            }
            .holder-multiple-select{
                padding: 0 10px;
                margin-bottom: 15px;
                max-width: 270px;
                width: 220px;
                .choices{
                    width: auto;
                    min-width: auto;
                    display: block;
                }
            }
            span.text{
                margin-bottom: 15px;
                display: block;
                width: 100%;
                padding: 0 10px;
                @include media(">=900px") {
                    width: auto;
                }
            }
        }
    }
    .form-item{
        input{
            margin-bottom: 10px;
        }
    }

}
.wrap-page-admin-panel-speed input[type=checkbox]:checked{
    background: #593484 ;
    border-color: #593484;
}
.wrap-page-admin-panel-speed .link-btn:after,
.swal2-container .link-btn:after{
    background-image: url(../images/icon-link-speed.svg);
}
.wrap-page-admin-panel-speed .holder-search-with-icon .btn-icon, 
.swal2-html-container .holder-search-with-icon .btn-icon{
    background-image: url(../images/icon-search-speed.svg);
}
.wrap-page-admin-panel-speed .read-more,
.swal2-container .read-more{
    color: #AB20B7;
}
.wrap-page-admin-panel-speed .read-more::after,
.swal2-container .read-more::after{
    color: #AB20B7;
}
.wrap-page-admin-panel-speed {
    --color-btn-primary:#ffffff;
    --bg-color-btn-primary:#AB20B7;
    --bg-color-btn-hover-primary:#451E5E;
    --bg-color-btn-disabled-primary:#E5E5E5;

    --border-color-btn-secondary:#AB20B7;
    --border-color-btn-hover-secondary:#451E5E;
    --border-color-btn-disabled-secondary:#E5E5E5;
    --color-btn-secondary:#AB20B7;
    --color-btn-hover-secondary:#451E5E;
    --color-btn-disabled-secondary:#E5E5E5;

    --color-btn-tirtiary:#464646;
    --bg-color-btn-tirtiary:#F1F1F1;
    --bg-color-btn-hover-tirtiary:#E5E5E5;

    --top-line-bg-color:#ffffff;
    --body-bg-color:#F1F1F1;
    --block-nav-line-bg-color:#F9F9F9;
    --text-color:#464646;
    --card-general-bg:#ffffff;

    --tabs-hover:#AB20B7;

    .custom-select-block .choices .choices__inner .toggle-arrow:before,
    .holder-single-select .choices[data-type*=select-one]::after,
    .holder-multiple-select .choices:before {
        background-image: url("../images/arrow-top-speed.svg");

    }
    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted{
        background-color: #FCF4FC;
    }
}
